* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

header {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 23.5px 115.5px 24.5px 115.5px;
}

.menu-items {
    display: flex;
    list-style: none;
    gap: 24px;
}

.menu-items li a {
    text-decoration: none;
    color: #575757FF;
}

.button {
    background-color: #1d4ed8;
    color: white;
    padding: 12px 41.5px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.banner {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 320px;
}

.banner div h1 {
    color: white;
    font-size: 80px;
    font-weight: 700;
}

.banner div p {
    color: white;
    font-size: 22px;
    max-width: 800px;
    margin-top: 20px;
}

.button.big {
    padding: 25px 62.5px;
    font-size: 24px;
}

.box {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.box img {
    width: 100%;
}

.box-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.p1 {
    font-size: 12px;
    color: #2563ebFF;
    font-weight: 600;
}

.p2 {
    font-size: 20px;
    color: #0d1b2aFF;
    font-weight: 700;
}

.p3 {
    font-size: 14px;
    color: #575757FF;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 56px;
}

.meet {
    margin: 116px;
}

.meet h2 {
    color: #000102FF;
    font-size: 56px;
    text-align: center;
}

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 169px;
    margin-bottom: 132px;
}

.pricing-head {
    text-align: center;
}

.pricing-head h2 {
    color: #0d1b2aFF;
    font-size: 3rem;
    font-weight: 700;
}

.pricing-head p {
    margin-top: 12px;
    color: #575757FF;
}

.cardp1 {
    color: #888888FF;
    font-size: 13px;
    font-weight: 600;
}

.cardp2 {
    color: #888888FF;
    font-size: 13px;
}

.card div h2 {
    color: #0d1b2aFF;
    font-size: 44px;
    font-weight: 700;
}

.card ul {
    color: #333333FF;
    font-size: 14px;
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 10px;
}

.card ul li::marker {
    color: #2563ebFF;
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pricing-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 48px;
}

.cardp1.feature {
    color: #93c5fdFF;
}

.feature2 {
    color: white !important;
}

.cardp2.pro {
    color: rgb(255 255 255 / 0.5);
}

.card.middle {
    background-color: #0d1b2aFF;
}

.feature {
    color: rgb(255 255 255 / 0.8) !important;
}

.but1 {
    border: 1px solid #2563ebFF;
    color: #2563ebFF;
    background: transparent;
    border-radius: 8px;
    padding: 12px 108px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}
.but2 {
    border: 0;
    background-color: #2563ebFF;
    color: white;
    border-radius: 8px;
    padding: 11px 127px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}
.but3 {
    border: 1px solid #0d1b2aFF;
    color: #0d1b2aFF;
    background: transparent;
    border-radius: 8px;
    padding: 12px 115px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}
